In [3]:
#Introduction to Python Programming

In [2]:
#Understanding variables in Python

In [4]:
x = 2
y = 3

In [6]:
z = x + y
print(z)

5

In [11]:
""" Rules for declaring variables in Python

1) No namespace while declaring the Variable
2) A variable should not start with a number
3) A variable should not contain any special characters (@#$%)
"""

' Rules for declaring variables in Python\n\n1) No namespace while declaring the Variable\n2) A variable should not start with a number\n3) A variable should not contain any special characters (@#$%)\n'

In [12]:
#Introduction to datatypes in python

In [4]:
'''
1) string ===> str
2) number (integer (int) and floats (decimals - 0.1, 0.2))
3) lists ===> list
4) tuples ===> tuple
5) dictionaries ===> dict
'''

'\n1) string ===> str\n2) number (integer (int) and floats (decimals - 0.1, 0.2))\n3) lists ===> list\n4) tuples ===> tuple\n5) dictionaries ===> dict\n'

In [5]:
'''
Classification of datatypes:
    1) mutable ===> which we can edit and alter ===> flexible in nature
    2) immutable ===> which we cannot edit or alter ===> fixed in nature
'''

'\nClassification of datatypes:\n    1) mutable ===> which we can edit and alter ===> flexible in nature\n    2) immutable ===> which we cannot edit or alter ===> fixed in nature\n'

In [6]:
'''
Introduction to string datatype :
Definition: A string is a combination of characters declared in quotes.
Classification: it is classified as immutable datatype
how to declare the string datatype
1. single quote
2. double quote
'''

'\nIntroduction to string datatype :\nDefinition: A string is a combination of characters declared in quotes.\nClassification: it is classified as immutable datatype\nhow to declare the string datatype\n1. single quote\n2. double quote\n'

In [11]:
name = 'karthik' #single quote
print(name)

karthik

In [12]:
name2 = "rajiv" #double quote
print(name2)

rajiv

In [13]:
#Introduction to string methods
type(name)
type(name2)

str

In [14]:
fullname = 'Atharva Tilewale'
print(fullname)

Atharva Tilewale

In [15]:
#uppercase
print(fullname.upper())

ATHARVA TILEWALE

In [16]:
#lowercase
print(fullname.lower())

atharva tilewale